<template>
  <div>
    <h2>I migliori articoli della capitale...</h2>
    <router-link to="/articoli-new" class="btn btn-outline-info"
      >Scrivi articolo</router-link
    >
    <hr />
    <div class="container-fluid">
      <ArticoloList />
    </div>
  </div>
</template>

<script>
import ArticoloList from "../components/ArticoloList.vue";
export default {
  components: { ArticoloList }
};
</script>

<style></style>
