<template>
  <div>
    <h2>nownews24</h2>
    <router-link to="/notizie-new" class="btn btn-outline-info"
      >Nuova notizia</router-link
    >
    <hr />
    <div class="container-fluid">NotiziaList</div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
