<template>
  <div>
    <div class="row justify-content-center">
      <div
        class="col-sm-12 col-md-12 col-lg-12"
        v-for="articolo in articoli"
        :key="articolo.id"
      >
        <div class="articolo">
          <h2>{{ articolo.titolo }}</h2>
          <p>{{ articolo.testo }}</p>
          <hr />
          <div>
            <span>Scritto il: {{ articolo.dataCreazione }}</span> -
            <span>Sezione: {{ articolo.sezione }}</span> -
            <span>Autore: {{ articolo.autoreArticolo }}</span>
          </div>
          <button type="button" class="btn btn-outline-info my-1 btn-sm mx-1">
            Acquista | EUR {{ articolo.prezzo }}
          </button>
          <button
            type="button"
            class="btn btn-outline-info my-1 btn-sm mx-1"
            @click="deleteById(articolo.id)"
          >
            Rimuovi articolo
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiUrl } from "../services/globals";
import {
  path,
  deleteArticolo,
  updateArticolo
} from "../services/articoloService";

export default {
  data() {
    return {
      articoli: []
    };
  },
  methods: {
    getArticoli() {
      fetch(apiUrl + path)
        .then(response => {
          return response.json();
        })
        .then(response => {
          this.articoli = response;
          return response;
        });
    },
    deleteById(id) {
      deleteArticolo(id);
      this.getArticoli();
    }
  },
  mounted() {
    this.getArticoli();
  }
};
</script>
<style scoped>
.articolo {
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 2px;
  margin: 1em;
}
</style>
