<template>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="Titolo">Titolo notizia</label>
      </div>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
