<template>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="titolo">Titolo</label>
        <input type="text" class="form-control" v-model="titolo" />
        <label for="sezione">Sezione</label>
        <input type="text" class="form-control" v-model="sezione" />
        <label for="prezzo">Prezzo</label>
        <input type="number" class="form-control" v-model="prezzo" />
        <label for="testo">Testo</label>
        <textarea class="form-control" rows="7" v-model="testo"></textarea>
        <button
          type="button"
          class="btn btn-outline-info my-3 btn-block"
          @click="sendArticolo()"
        >
          Il tuo articolo sara sottoposto ad ispezione, prima di essere
          pubblicato
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { articolo } from "../models/articolo";
import { addArticolo } from "../services/articoloService";
export default {
  data() {
    return {
      titolo: "",
      testo: "",
      immagine: "",
      dataCreazione: new Date(),
      dataPubblicazione: null,
      sezione: "",
      prezzo: null,
      vendibile: false,
      autoreArticolo: 1
    };
  },
  methods: {
    sendArticolo() {
      articolo.titolo = this.titolo;
      articolo.testo = this.testo;
      articolo.immagine = this.immagine;
      articolo.dataCreazione = this.dataCreazione;
      articolo.dataPubblicazione = this.dataPubblicazione;
      articolo.sezione = this.sezione;
      articolo.prezzo = this.prezzo;
      articolo.vendibile = this.vendibile;
      articolo.autoreArticolo = this.autoreArticolo;
      addArticolo(articolo);
    }
  }
};
</script>

<style scoped>
input {
  margin-bottom: 2em;
}
input,
button,
textarea {
  border-radius: 1px;
}
label {
  font-size: 20px;
  border-bottom: 1px solid rgb(64, 200, 224);
}
form {
  text-align: left;
}
</style>
