<template>
  <div>
    <form>
      <div class="form-group">
        <label for="Firstname">Firstname</label>
        <input type="text" v-model="firstname" />
        <label for="Lastname">Lastname</label>
        <input type="text" v-model="lastname" />
        <label for="Username">Username</label>
        <input type="text" v-model="username" />
        <label for="Password">Password</label>
        <input type="password" v-bind="password" />
        <label for="Date">Date of birthday</label>
        <input type="date" v-model="dob" />
        <button type="button" class="btn btn-primary" @click="getUtente">
          submit
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { utente } from "../models/utente";
export default {
  data() {
    return {
      firstname: "",
      lastname: "",
      username: "",
      password: "",
      dob: null
    };
  },
  methods: {
    getUtente() {
      utente.firstname = this.firstname;
    }
  }
};
</script>

<style></style>
